ion-card{
  margin: 0;
  font-family: "Market Sans", "Arial", sans-serif;
  line-height: 2px;
}

ion-card-header{
  font-size: 18px;
}

.about{
  font-family: "Market Sans", "Arial", sans-serif;
  // line-height: 2px;
  font-size: 18px;
  margin: 0 5px 0 5px;
}
